{% extends 'liens/index.html' %}

{% block content %}

<div class="content">
  <img src="../static/images/1.jpg" alt="nego" style=" border-radius: 50px;">
  <div class="introduction">
    <h2>Bonjour !</h2>
    <p>Je m'appel <b>Jordy Abed-négo NKOUNKOU</b>. <br>
      Futur ingénieur développeur, voici le premier site dynamique que j'ai développé en utilisant le framework web Django. <br>
      Ce site permettra de gérer les etudiants d'une quelconque université avec des details bien precis.<br>
      Etudiants de l'école Communautaire de l'Enseignemant Supérieur <a href="ecesecole.org"> ECES </a> en GENIE INFORMATIQUE,
      je possède certaines connaissances (Developpement web, programmations, infographies...) et apte de pratiquer sur un plan
      professionnel.
     </p>
  </div>
</div>

{% endblock %}
